# This workflow sets up and runs MSBuild
# to build and test a Visual Studio solution.

name: Build and Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'README.md'

jobs:

  run-msbuild:
    runs-on: windows-latest
    name: Run MSBuild and Test

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.1.0
        id: checkout_code
        with:
          submodules: recursive
        
      - name: Setup MSBuild path
        uses: microsoft/setup-msbuild@v1
        id: setup_msbuild
      
      - name: Setup dotnet path
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
        
      - name: Run build_run
        id: run_msbuild
        shell: cmd
        run: .\build_run.bat
  
  run-linux:
    runs-on: ubuntu-latest
    name: Run CMake and Test

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.1.0
        id: checkout_code
        with:
          submodules: recursive

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.9
        with:
          cmake-version: '3.16.x'
      
      - name: Setup dotnet path
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      
      - name: Run build_run
        run: sh build_run.sh
  
  readme:
    runs-on: ubuntu-latest
    name: Generate README.md

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.1.0
        id: checkout_code

      - name: Setup dotnet path
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
    
      - name: update file and push to remote
          run: |
            dotnet tool restore
            dotnet mdsnippets ./ -e ./dotnet_runtime

            git config --global user.name "github-actions[bot]"
            git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

            git add -A
            git commit -m "Update README.md"
            git push